body
{
    margin: 0;
    background-color: #301301;
    background: url("assets/wood-texture.jpg");
    background-repeat: repeat-y;
}

#Cluedo
{
    padding: 20px;
}

.players
{
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    border: #aa851e groove 8px;
    border-radius: 18px;
    font-size: 25px;
    text-align: center;
}

.players label
{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.players input[type="checkbox"]
{
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.players .red, .players .yellow, .players .white,
.players .green, .players .blue, .players .purple
{
    padding: 8px;
    width: 100%;
}

.people, .places, .weapons
{
    border: #aa851e groove 8px;
    border-radius: 18px;
    overflow: hidden;
    margin: 40px 0;
}

table
{
    background-color: rgba(127, 76, 44, 0.25);
    border-collapse: collapse;
    width: 100%;
}

th
{
    padding: 15px 15px 30px 15px;
    font-size: 25px;
}

th:first-child
{
    background: linear-gradient(0deg, transparent, rgba(127, 76, 44, 0.4));
}

td
{
    padding: 30px 10px;
    font-size: 22px;
}

td.marker
{
    text-align: center;
    font-size: 50px;
}

tr
{
    border-bottom: 2px solid #230e00;
    background-color: unset;
    color: #dccca0;
}

tr td:first-child
{
    font-weight: 600;
}

tr:last-child
{
    border-bottom: none;
}

.red
{
    background-color: rgba(255, 0, 0, 0.4);
    color: #fff;
    font-weight: bold;
}

th.red
{
    background: linear-gradient(0deg, transparent, rgba(255, 0, 0, 0.4));
}

.yellow
{
    background-color: rgba(255, 170, 0, 0.4);
    color: #fff;
    font-weight: bold;
}

th.yellow
{
    background: linear-gradient(0deg, transparent, rgba(255, 170, 0, 0.4));
}

.white
{
    background-color: rgba(255, 250, 247, 0.5);
    color: #fff;
    font-weight: bold;
}

th.white
{
    background: linear-gradient(0deg, transparent, rgba(255, 250, 247, 0.4));
}

.green
{
    background-color: rgba(0, 198, 53, 0.4);
    color: #fff;
    font-weight: bold;
}

th.green
{
    background: linear-gradient(0deg, transparent, rgba(0, 198, 53, 0.4));
}

.blue
{
    background-color: rgba(0, 98, 255, 0.4);
    color: #fff;
    font-weight: bold;
}

th.blue
{
    background: linear-gradient(0deg, transparent, rgba(0, 98, 255, 0.4));
}

.purple
{
    background-color: rgba(183, 0, 255, 0.4);
    color: #fff;
    font-weight: bold;
}

th.purple
{
    background: linear-gradient(0deg, transparent, rgba(183, 0, 255, 0.4));
}

.state-0::after
{
    content: "▢"; /*◻️*/
}

.state-1::after
{
    content: "?"; /*❓*/
    font-weight: bold;
    color:#ffe224;
}

.state-2::after
{
    content: "✓"; /*✔️*/
    font-weight: bold;
    color:#888888;
}

.state-3::after
{
    content: "✕"; /*❌*/
    font-weight: bold;
    color:#ff0000;
}

.state-4::after
{
    content: "✦"; /*✳️*/
    font-weight: bold;
    color:#66ff4e;
}

tr:has(.state-1)
{
    background-color: rgba(255, 221, 0, 0.2);
    color: #d9bc00;
    font-weight: normal;
}

tr:has(.state-2)
{
    background-color: rgba(0, 0, 0, 0.5);
    color: #888888;
    font-weight: normal;
}

tr:has(.state-4)
{
    background-color: rgba(17, 255, 0, 0.2);
    color: #66ff4e;
    font-weight: bold;
}
